body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f1f1f1;
  }
  
  .resume {
    background-color: #fff;
    padding: 20px;
    max-width: 600px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    margin-bottom: 20px;

  }
  
  h1 {
    color: black;
    margin-top: 0;
  }
  h3 {
    color:rgb(27, 109, 160);
  }
  a {
    color: black;
  }
  p {
    margin-bottom: 10px;
  }
  
  .section {
    margin-bottom: 20px;
  }
  
  .section-title {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .sub-section {
    margin-left: 20px;
  }
  
  .skills {
    display: flex;
    flex-wrap: wrap;
  }
  
  .skill {
    background-color: #f1f1f1;
    border-radius: 3px;
    padding: 5px 10px;
    margin-right: 10px;
    margin-bottom: 10px;
  }
